{% extends 'homepage/homepage.html' %}
{% block content %}
{% if user.is_authenticated %}
<text>Лакони́чность, лакони́зм  (от греч. Λακωνία) — краткое и ясное выражение мыслей.
Корень слова произошёл от названия Лаконии — региона Древней Греции, в котором находится город Спарта.
	</text>

<a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D1%87%D0%BD%D0%BE%D1%81%D1%82%D1%8C">Взял с Википедии .</a>

<text1>
Минимализм (англ. minimalism от лат. minimus — наименьший) — стиль в дизайне, характеризующийся лаконичностью выразительных средств, простотой, точностью и ясностью композиции.
	</text1>

<a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D0%BB%D0%B8%D0%B7%D0%BC_(%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD)">И это тоже . </a>
{% endif %}
<picture>
	</picture>

{% endblock %}
